
:root {
    --bg-color: rgba(252, 252, 252, 1);
    --lin-gr-color: linear-gradient(90deg, #0DAE4E 2.99%, #0DAE4E 17.36%, #F00 21.88%, #F00 37.4%, #F4BF37 37.99%, #F4BF37 49.8%, #4252E2 51.23%, #4252E2 63.65%, #F4BF37 64.19%, #F4BF37 74.11%, #4252E2 75.97%, #4252E2 87.49%, #0DAE4E 87.92%, #0DAE4E 97.61%);
}

.welcome {
    margin: 0 auto;
    width: 99.114583vw;
    min-height: 438px;
}

.welcome__container {
    width: 100%;
    padding: 0;
}

.main-geometry {
    background-color: var(--bg-color);
    height: 86vh;
}

.img {
    flex-shrink: 0;
    background-image: url(../img/about_us.jpg);
    height: 230px;
    width: 99.114583vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 85px;
}

.img__h2 {
    color: #FFF;
    text-align: center;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    width: 627px;
} 

.woman {
    height: 373px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
    padding: 0 344.5px;
}
.woman__pic {
    border-radius: 15px 15px 15px 15px;
    background-image: url(../img/about_us_woman.jpg);
    height: 100%;
    width: 587px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.woman__pic a {
    padding-bottom: 9px;
    padding-left: 8px;
    color: #FFF;
    font-size: 11px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-decoration-line: underline;
}

.woman__text {
    display: flex;
    flex-direction: column;
    width: 587px;
}

.woman__text-h2 {
    width: 42.759755%;
    display: inline-flex;
    margin-top: -10px;
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    background: linear-gradient(90deg, #0DAE4E 2.99%, #0DAE4E 17.36%, #F00 21.88%, #F00 37.4%, #F4BF37 37.99%, #F4BF37 49.8%, #4252E2 51.23%, #4252E2 63.65%, #F4BF37 64.19%, #F4BF37 74.11%, #4252E2 75.97%, #4252E2 87.49%, #0DAE4E 87.92%, #0DAE4E 97.61%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.woman__text-p {
    text-indent: 25px;
    text-align: justify;
    color: #000;
    font-size: 27px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 16px;
}

.woman__text-p--text-indent {
    text-indent: 0px;
}