:root {
    --bg-color: linear-gradient(284deg, #E9FCFF 10.28%, rgba(217, 246, 253, 0.88) 27.56%, rgba(236, 252, 255, 0.77) 41.19%, rgba(194, 236, 239, 0.54) 65.66%, rgba(71, 243, 254, 0.18) 87.63%, rgba(0, 240, 255, 0.00) 100.3%);
    --acle-color: rgba(39, 39, 39, 1);
}

@media (max-width: 1600px) {
    /* .main-geometry {
        text-align: center;
    } */
    .logo__text span:last-of-type {
        display: none;
    }

    .header__container {
        padding-right: 0;
        padding-left: 0;
        max-width: calc(63.22916667vw + 250px); /*1214px*/
    }

    .welcome {
        max-width: calc(63.22916667vw + 250px)
    }

    .logo__img {
        margin-right: 12px;
    }

    /* .welcome {
        width: 63.229167vw; 
        text-align: center;
        padding-right: 6vw;
        padding-left: 6vw;
    } */
}

@media (max-width: 1440px) {

    .welcome {
        padding-left: 100px;
        padding-right: 100px;
    }

    /* .logo__text {
        font-size: 32px;
    } */

    /* .header__menu-btn {
        padding-top: 22px;
        padding-bottom: 22px;
    } */
} 

@media (max-width: 1023px) {
    .header__container {
        min-height: 110px; 
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .logo {
        padding-bottom: 25px;
    }

    .logo__text span:last-of-type {
        display: inline-block;
    }

    .header__nav {
        width: 100%;
        justify-content: center;
    }

    .header__menu {
        width: inherit;
    }

    .header__menu-btn {
        padding: 22px 30px;
        font-size: 2.1vw;
    }
}

@media (max-width: 768px) {
    .header__container {
        min-height: 10vw; 
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: calc(85vw);
    }

    .logo {
        width: 100%;
        padding: 8px 0px 10px 0px;
        justify-content: center;
    }

    .logo__text {
        font-size: 4.5vw;
    }

    .logo__img {
        display: flex;
        margin-right: 10px;
        width: 8vw;
        height: 9vw;
    }

    .header__nav {
        width: 100%;
        justify-content: center;
    }

    .header__menu {
        width: inherit;
    }

    .header__menu-btn {
        margin-right: 0;
        padding: 1.5vw 3vw;
        width: auto;
        height: auto;
    }

    .welcome {
        max-width: calc(85vw);
    }

    .welcome__question {
        font-size: 50px;
    }

    .article {
        height: 164px;
        width: 584px;
    }
    .grid__link {
        height: 164px;
    }
    
    .article__picture {
        width: 164px;
    }
    
    .article__text {
        padding: 5px 8px 2px 10px;
    }
    
    .article__text-h4 {
        margin-bottom: 5px;
        font-size: 18px;
    }

    .article__text-p {
        width: 412px;
        color: var(--acle-color);
        font-size: 12px;
    } 
} 

/* @media (max-width: 711px) {
    .container {
        max-width: 581px;
    }

    .welcome {
        max-width: 551px;
    }

    .header__container {
        min-height: 120px;
    }
    
    .logo__img {
        display: flex;
        width: 100%;
        height: auto;
    }

    .header__menu {
        width: 551px;
        justify-content: space-between;
    }

    .article {
        height: 164px;
        max-width: 521px;
    }
    .grid__link {
        height: 164px;
        max-width: 70%;
    }
    
    .article__picture {
        width: 200px;
    }
    
    .article__text {
        display: flex;
        flex-direction: column;
        padding: 5px 8px 2px 10px;
    }
    
    .article__text-h4 {
        font-size: 16px;
    }

    .article__text-p {
        width: 312px;
        font-size: 10px;
    } 
} */