:root {
    --bg-color: linear-gradient(284deg, #E9FCFF 10.28%, rgba(217, 246, 253, 0.88) 27.56%, rgba(236, 252, 255, 0.77) 41.19%, rgba(194, 236, 239, 0.54) 65.66%, rgba(71, 243, 254, 0.18) 87.63%, rgba(0, 240, 255, 0.00) 100.3%);
    --acle-color: rgba(39, 39, 39, 1);
}

.grid {
    min-height: 686px;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    gap: 37px;
}

.article {
    width: 840px;
    height: 204px;
    border-radius: 15px;
    background-color: #fff;
}

.grid__link {
    width: 840px;
    height: 204px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #fff;
    border-radius: inherit;
    transition: all 0.05s ease-in-out;
    text-decoration: none;
}

.grid__link:hover {
    transform: scale(1.02);
}

.article__picture {
    width: 256px;
    border-radius: 15px 0px 0px 15px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.article__picture-link {
    padding-bottom: 9px;
    padding-left: 8px;
    color: #FFF;
    font-size: 11px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-decoration-line: underline;
}

.article__text {
    display: flex;
    flex-direction: column;
    padding: 13px 53px 27px 0px;
}

.article__text-h4 {
    margin-bottom: 10px;
    color: #000;
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
.article__text-p {
    width: 512px;
    text-indent: 20px;
    color: var(--acle-color);
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-align: justify;
}

.article__picture--creative {
    background-image: url(../img/creative.jpg);
}

.article__picture--mart-arts {
    background-image: url(../img/martial_arts.jpg);
}

.article__picture--books {
    background-image: url(../img/books.jpg);
}

.article__picture--bodybuilding {
    background-image: url(../img/bodybuilding.jpg);
}

.article__picture--active-leisure {
    background-image: url(../img/active_leisure.jpg);
}

.article__picture--exploring {
    background-image: url(../img/exploring.jpg);
}

.article__picture--bodybuilding {
    background-image: url(../img/bodybuilding.jpg);
}

.article__picture--bodybuilding {
    background-image: url(../img/bodybuilding.jpg);
}

.article__picture--bodybuilding {
    background-image: url(../img/bodybuilding.jpg);
}

.article__picture--bodybuilding {
    background-image: url(../img/bodybuilding.jpg);
}

.article__picture--bodybuilding {
    background-image: url(../img/bodybuilding.jpg);
}

.article__picture--bodybuilding {
    background-image: url(../img/bodybuilding.jpg);
}

.article__picture--bodybuilding {
    background-image: url(../img/bodybuilding.jpg);
}

.article__picture--bodybuilding {
    background-image: url(../img/bodybuilding.jpg);
}

.article__picture--bodybuilding {
    background-image: url(../img/bodybuilding.jpg);
}

.article__picture--bodybuilding {
    background-image: url(../img/bodybuilding.jpg);
}

.article__picture--bodybuilding {
    background-image: url(../img/bodybuilding.jpg);
}

.article__picture--bodybuilding {
    background-image: url(../img/bodybuilding.jpg);
}

.article__picture--bodybuilding {
    background-image: url(../img/bodybuilding.jpg);
}

.article__picture--bodybuilding {
    background-image: url(../img/bodybuilding.jpg);
}

.article__picture--bodybuilding {
    background-image: url(../img/bodybuilding.jpg);
}

.article__picture--bodybuilding {
    background-image: url(../img/bodybuilding.jpg);
}

.article__picture--bodybuilding {
    background-image: url(../img/bodybuilding.jpg);
}

.article__picture--bodybuilding {
    background-image: url(../img/bodybuilding.jpg);
}