@import url(../css/styles.css);

.main-geometry {
    min-height: 1200px;
    padding: 0;
}

.main__container {
    max-width: 1920px;
    min-height: 1600px;
}

.img-block {
    background-image: url(../img/hobbies.jpg);
    max-width: 1920px;
    height: 330px;
    display: flex;
    justify-content: center;
}
.img-block__filling {
    display: flex;
    width: 1214px;
    justify-content: space-between;
}

.quote {
    width: 300px;
    height: 356px;
    flex-shrink: 1;
}

.img-block__quote-geometry {
    margin-top: 24px;
}

.search-and-info {
    max-width: 840px;
}

.search-geometry {
    height: 56px;
    margin-bottom: 30px;
    margin-top: 46px;
}

.search__text--smaller {
    font-size: 20px;
}

.search__button--smaller {
    height: 42px;
    font-size: 18px;
}

.search-and-info-text-block {
    display: flex;
    flex-shrink: 0;
    border-radius: 12px;
    background: #FFF;
    padding: 50px 87px;
    justify-content: center;
    align-items: center;
}

.search-and-info__text {
    display: inline-block;
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.hobbies {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
}

.filters {
    width: 300px;
    height: 315px;
    background-color: #FFF;
}

.filters__p {
    color: #000;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.filters__block {
    display: flex;
    padding: 19px 27px;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    flex-shrink: 0;
}

.filters__filter {
    display: flex;
    height: 19px;
    justify-content: center;
    align-items: center;
    gap: 6px;
    flex-shrink: 0;
}

.filters__filter-text {
    color: #171717;
    font-size: 14px;
    font-style: normal;
    font-weight: 450;
    line-height: normal;
}

.selected-filters {
    
}