html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

:root {
    --bg-color: linear-gradient(284deg, #E9FCFF 10.28%, rgba(217, 246, 253, 0.88) 27.56%, rgba(236, 252, 255, 0.77) 41.19%, rgba(194, 236, 239, 0.54) 65.66%, rgba(71, 243, 254, 0.18) 87.63%, rgba(0, 240, 255, 0.00) 100.3%);
}

.container {
    max-width: 1214px;
    background-color: #fff;
    flex-shrink: 0;
    margin: 0 auto;
}

@media (max-width: 500px) and (orientation:portrait) {

}



.header {
    min-height: 66px;
    background-color: #fff;
}

.title {
    margin-top: 5px;
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    background-color: #fff;
}

.title__logo {
    width: 56px;
    height: 56px;
    margin-right: 16px;
    margin-bottom: 5px;
}


.title__text {
    color:#000;
    margin-top: 26px;
    margin-bottom: 10px;
    font-size: 25px;
    font-weight: 500;
    margin-right: 79px;
    text-decoration: none;
}

.title__text span{
    font-weight: 780
}

.title__buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    margin-bottom: 13px;
    margin-top: 21px;
}

.title__buttons-menu {
    display: flex;
    gap: 10px;
    width: 97px;
    height: 32px;
    font-size: 16px;
    padding: 18px 24px;
    text-align: center;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-right: 22px;
    box-shadow: 1px 3px 10px 0px rgba(0, 0, 0, 0.44);
    border: none;
    background-color: rgba(244, 244, 244, 1);
    border-radius: 20px;
    cursor: pointer;
    color: #000;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    transition: all 0.2s ease-in-out;
    text-decoration: none;
}

.title__buttons-menu:hover {
    transform: scale(1.05);
}

.title__buttons li:nth-of-type(3) a{
    background-color: rgba(64, 62, 62, 1);
    width: 184px;
    height: 32px;
    color: #FFF;
}

.title__buttons li:nth-of-type(4) a{
    background-color: #F16060;
    width: 239px;
    height: 32px;
    color: #FFF;
    font-size: 20px;
    margin-right: 0;
}

hr {
    background-color: rgba(179, 179, 179, 1);
    height: 1px;
    border: none;
    /* margin: 0; */
}

.main {
    background-image: var(--bg-color);
    min-height: 1600px;
    padding-top: 15px;
}