html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

:root {
    --bg-color: rgba(244, 244, 244, 1)
}

.main {
    background-color: rgba(219, 219, 219, 0.2);
} 

.container {
    max-width: 1214px;
    background-color: #fff;
    flex-shrink: 0;
    margin: 0 auto;
}

@media (max-width: 500px) and (orientation:portrait) {

}



.header {
    min-height: 66px;
    background-color: #fff;
}

.title {
    padding-top: 5px;
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    background-color: #fff;
}

.title__buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

.title__buttons-menu {
    display: flex;
    gap: 10px;
    width: 97px;
    height: 32px;
    font-size: 16px;
    padding: 18px 24px;
    text-align: center;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-right: 40px;
    box-shadow: 1px 3px 10px 0px rgba(0, 0, 0, 0.44);
    border: none;
    background-color: rgba(244, 244, 244, 1);
    border-radius: 20px;
    cursor: pointer;
    color: #000;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    transition: all 0.2s ease-in-out;
}

.title__buttons-menu:hover {
    transform: scale(1.05);
}

.title__buttons li:nth-of-type(3) a{
    background-color: #F16060;
    width: 239px;
    height: 32px;
    color: #FFF;
    font-size: 20px;
    margin-right: 0;
}

.title__logo {
    width: 56px;
    height: 56px;
    margin-right: 20px;
}

.title__text {
    margin-top: 26px;
    margin-bottom: 10px;
    font-size: 25px;
    font-weight: 500;
    margin-right: 203px
}

.title__text::before {
    content: 'Chosby';
    font-weight: 780;
}

.main {

}

.main__container {

}

.main__container-pic {

}

.footer {
    
}

