html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

body * {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
}

:root {
    --bg-color: linear-gradient(284deg, #E9FCFF 10.28%, rgba(217, 246, 253, 0.88) 27.56%, rgba(236, 252, 255, 0.77) 41.19%, rgba(194, 236, 239, 0.54) 65.66%, rgba(71, 243, 254, 0.18) 87.63%, rgba(0, 240, 255, 0.00) 100.3%);
}

@media (max-width: 500px) and (orientation:portrait) {

}

.header {
    width: 99.114583vw;
    min-height: 82px;
    background-color: #fff;
}

.container {
    margin: 0 auto;
    padding: 0 15px;
}

.header__container {
    background-color: #fff;
    width: 65.370467%; /* 1244px; */
    display: flex;
    justify-content: space-between;
}

.logo {
    display: flex;
    flex-shrink: 1;
    margin-top: 8px;
}

.logo__img {
    margin-right: 16px;
    margin-bottom: 5px;
}

.logo__text {
    color:#000;
    margin-top: 26px;
    margin-bottom: 10px;
    font-size: 25px;
    font-weight: 500;
}

.logo__text a {
    color: #000;
}

.logo__text--bold {
    font-weight: 780
}

.header__nav {
    margin-top: 5px;
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    background-color: #fff;
}

.header__menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    margin-bottom: 10px;
    margin-top: 21px;
}

.header__menu-btn {
    display: flex;
    gap: 10px;
    width: 97px;
    height: 32px;
    font-size: 16px;
    padding: 18px 24px;
    text-align: center;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-right: 22px;
    box-shadow: 1px 3px 10px 0px rgba(0, 0, 0, 0.44);
    border: none;
    background-color: rgba(244, 244, 244, 1);
    border-radius: 20px;
    cursor: pointer;
    color: #000;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    transition: all 0.05s ease-in-out;
    text-decoration: none;
}

.header__menu-btn:hover {
    transform: scale(1.05);
}

.header__menu-btn:active {
    transform: scale(0.98);
}

.header__menu-btn--black {
    background-color: rgba(49, 48, 48, 1);
    width: 184px;
    height: 32px;
    color: #FFF;
}

.header__menu-btn--red {
    background-color: rgba(238, 53, 53, 1);
    width: 239px;
    height: 32px;
    color: #FFF;
    font-size: 20px;
    margin-right: 0;
}

hr {
    background-color: rgba(179, 179, 179, 1);
    height: 1px;
    border: none;
    margin: 0;
}

.main {
    background-image: var(--bg-color);
    width: 99.114583vw;
}

.search {
    display: flex;
    height: 74px;
    flex-shrink: 0;
    border-radius: 36px;
    border: 2px solid #454545;
    background: #FFF;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 13px 0 27px;
    margin-bottom: 41px;
}

.search__text {
    width: 80%;
    height: 80%;
    color: #C0C0C0;
    font-size: 26px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border: none;
    text-decoration: none;
    outline: none;
    background: none;
}

.search__button {
    display: inline-flex;
    height: 52px;
    padding: 5px 20px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    border-radius: 32px;
    background: #32D084;
    color: #000;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border: none;
    transition: all 0.05s ease-in-out;
    cursor: pointer;
}

.search__button:hover {
    transform: scale(1.05);
}

.search__button:active {
    transform: scale(0.98);
}

#feedback {
    position: fixed;
    bottom: 0;
    right: 0;
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ccc;
}

.footer {
    height: 82px;
    background-color: rgba(69, 69, 69, 1);
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer__text {
    color: #FFF;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}