html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

body * {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
}

:root {
    --bg-color: linear-gradient(284deg, #E9FCFF 10.28%, rgba(217, 246, 253, 0.88) 27.56%, rgba(236, 252, 255, 0.77) 41.19%, rgba(194, 236, 239, 0.54) 65.66%, rgba(71, 243, 254, 0.18) 87.63%, rgba(0, 240, 255, 0.00) 100.3%);
}

/* @media (max-width: 500px) {and (orientation:portrait) {
    .container {
        max-width: ;
    }
} */

.container {
    max-width: 1244px; /*79.625em*/
    margin: 0 auto;
    padding: 0 15px;
}

.header {
    /* width: 99.114583vw; */
    padding: 10px 0 12px 0;
    min-height: 82px;
    background-color: #fff;
    /* position: fixed;
    top: 0;
    left: 0;
    z-index: 5; */
}

.header__container {
    /* width: 65.370467%; 1244px; */
    display: flex;
    justify-content: space-between;
}

.main {
    background-image: var(--bg-color);
    /* max-width: 79.625em;99.114583vw; 100vw */
    height: 100vh;
    margin: 0 auto;
}

.logo {
    /* padding: 10px 0 12px 0; */
    display: flex;
    align-items: flex-end;
    flex-shrink: 1;
}

.logo__img {
    margin-right: 16px;
}

/* 0.5vw */
.logo__text {
    color:#000;
    font-size: 25px;
    font-weight: 500;
}

.logo__text--bold {
    font-weight: 780
}

.header__nav {
    /* padding-bottom: 12px; */
    display: flex;
    align-items: flex-end;
    flex-direction: row;
    background-color: #fff;
}

.header__menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

.header__menu-btn {
    display: flex;
    gap: 10px;
    /* width: 97px; */
    height: 32px;
    font-size: 16px;
    padding: 18px 24px;
    text-align: center;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-right: 22px;
    box-shadow: 1px 3px 10px 0px rgba(0, 0, 0, 0.44);
    border: none;
    background-color: rgba(244, 244, 244, 1);
    border-radius: 20px;
    cursor: pointer;
    color: #000;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    transition: all 0.05s ease-in-out;
    text-decoration: none;
}

.header__menu-btn:hover {
    transform: scale(1.05);
}

.header__menu-btn:active {
    transform: scale(0.98);
}

/* .header__menu-btn--black {
    background-color: rgba(49, 48, 48, 1);
    width: 184px;
    height: 32px;
    color: #FFF;
} */

.header__menu-btn--red {
    background-color: rgba(238, 53, 53, 1);
    /* width: 220px;
    height: 32px; */
    color: #FFF;
    font-size: 20px;
    margin-right: 0;
}

hr {
    /* width: 100vw; 99.114583vw; */
    background-color: rgba(179, 179, 179, 1);
    height: 1px;
    border: none;
    margin: 0;
}

/* .search {
    display: flex;
    height: 74px;
    flex-shrink: 0;
    border-radius: 36px;
    border: 2px solid #454545;
    background: #FFF;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 13px 0 27px;
    margin-bottom: 41px;
}

.search__text {
    width: 80%;
    height: 80%;
    color: rgba(35, 35, 35, 1);
    font-size: 26px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    border: none;
    text-decoration: none;
    outline: none;
    background: none;
}

.search__button {
    display: inline-flex;
    height: 52px;
    padding: 5px 20px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    border-radius: 32px;
    background: #32D084;
    color: #000;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border: none;
    transition: all 0.05s ease-in-out;
    cursor: pointer;
}

.search__button:hover {
    transform: scale(1.05);
}

.search__button:active {
    transform: scale(0.98);
} */

.feedback {
    margin: 0 auto;
    max-width: 322px;
    height: 392px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 20px;
    border: 2px solid #898989;
    background: #FFF;
    box-shadow: 2px 4px 7.2px 0px rgba(0, 0, 0, 0.20);
}

.footer {
    /* width: 100vw; */
    height: 82px;
    background-color: rgba(69, 69, 69, 1);
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer__text {
    color: #FFF;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}